@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Source+Sans+Pro&family=Ysabeau&display=swap');

:root {
  --main-bg-color: rgb(151, 106, 92);
  --main-bg-color-hover: #c8c8c8;
  --main-text-color: #000;
  --main-link-color: #000;
  --alternate-bg-color: #d1d1d1;
}

* {
  box-sizing: border-box;
}

html {
  font: 16px 'Poppins', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
}

#content-wrapper {
  background-color: #fff;
  border: 5px solid #000;
  color: #000;
  margin: 0 auto 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 .75rem 1rem;
  width: 80%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: var(--main-link-color);
}

#skip-link {
  background-color: #000;
  border: #fff double 6px;
  color: #fff;
  padding: .5rem;
  position: absolute;
  text-decoration: none;
  top: -9999px;
  z-index: 200;
}

#skip-link:focus {
  left: 1rem;
  top: 8rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#user_links {
  border: 2px solid #000;
  border-radius: 15px;
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;
}

#user_links span {
  display: inline-block;
  margin: .5rem 0;
}

#user_links a {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: .25rem;
  margin-right: .25rem;
  padding: .25rem;
  text-decoration: none;
}

#user_links a:hover {
  background-color: var(--main-bg-color-hover);
  color: #000;
}

nav {
  text-align: center;
}

#nav-trigger,
#nav-box {
  display: none;
}

#navbar li {
  border: 1px solid #000;
  border-right: none;
}

#navbar li:last-of-type {
  border-right: 1px solid #000;
}

#navbar a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  height: 100%;
}

#navbar a:hover {
  background-color: var(--main-bg-color-hover);
  box-shadow: 0px 0px 20px inset #000;
  color: #000;
}

.current-page {
  border-bottom: 5px solid #000;
}

#navbar {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 0;
}

#navbar li {
  flex: 1;
  list-style: none;
  text-align: center;
}

#link_options {
  border-radius: 15px;
  list-style: none;
  padding: 0;
}

#link_options li {
  padding: 1rem;
}

#link_options li:nth-child(odd) {
  background-color: var(--alternate-bg-color);
}

#link_options a {
  display: block;
  font-size: 21px;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

input[type=submit] {
  border-radius: 15px;
  margin-top: .5rem;
  padding: .5rem;
}

input {
  display: block;
  margin-bottom: 1rem;
}

input[type=radio] {
  display: inline-block;
}

.return-game {
  margin-top: 0;
  padding: .5rem;
}

.item {
  font-weight: bold;
}

/* Tables */
.table {
  border: 1px solid #ddd;
  overflow-x: auto;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

tr:nth-child(even){
  background-color: var(--alternate-bg-color);
}

th {
  width: auto;
}

td {
  padding: 1rem .5rem;
  width: auto;
}

.button {
  background-color: #ece8e8;
  border: 2px solid #000;
  border-radius: 15px;
  color: #000;
  display: inline-block;
  padding: .75rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

/* Media Queries */

/* Fluid Text */
@media screen and (max-width: 1200px) {
  #content-wrapper {
    font-size: calc(10px + (16 - 10) * (100vw - 320px) / (1200 - 320));
  }
}

/* 890px */
@media screen and (max-width: 890px) {
  #nav-trigger {
    background: var(--main-bg-color);
    border-bottom: #000 solid 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  nav {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #navbar {
    display: none;
    margin: 0;
  }

  #navbar li {
    border-bottom: #000 solid 2px;
  }

  #navbar a {
    color: #fff;
  }

  #nav-box:checked + ul {
    background-color: var(--main-bg-color);
    display: block;
  }

  .current-page {
    border-bottom: 5px dashed #fff;
  }

  header {
    padding-top: 58px;
  }
}

/* 750px */
@media screen and (max-width: 750px) {
  header {
    display: block;
    padding-top: 58px;
    text-align: center;
  }

  #user_links {
    text-align: center;
  }
}

/* 600px */
@media screen and (max-width: 600px) {
  #content-wrapper {
    width: 100%;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  #content-wrapper {
    font-size: 10px;
  }
}
