* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#content-wrapper {
  margin: 0 auto;
  width: 80%;
}

img {
  height: auto;
  max-width: 100%;
}

/* header h1 {
  text-align: center;
} */

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav {
  text-align: center;
}

#user_links {
  border: 2px solid #000;
  border-radius: 15px;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;
}

#user_links span {
  display: inline-block;
  margin: .5rem 0;
}

#user_links a {
  display: inline-block;
  margin-right: .25rem;
}


#navbar a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #000;
  color: #fff;
}

#navbar {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 0;
}

#navbar li {
  flex: 1;
  list-style: none;
  text-align: center;
}